<header>
  <section class="top__bar">
    <div class="app__brand">
      <figure class="app__logo">
        <img src="dist/img/logo.png" alt="Main Logo">
      </figure>
      <h1>PixelEditor</h1>
    </div>
    <ul id="menu" class="app__menu">
      <li>
        <a>File</a>
        <ul>
          <li><a id="file-new">New image.. <span>Ctrl + N</span></a></li>
          <li><a id="file-open">Open image.. <span>Ctrl + O</span></a></li>
          <li><a id="file-open-url">Open image URL..</a></li>
          <li><a id="file-search">Stock search..</a></li>
          <li><a id="file-add-element">Browse Elements ..</a></li>
          <li class="split"></li>
          <li><a id="file-save">Save.. <span>Ctrl + S</span></a></li>
          <li><a id="file-print">Print.. <span>Ctrl + P</span></a></li>
          <li><a id="file-close">Close <span>Ctrl + Q</span></a></li>
        </ul>
      </li>
      <li>
        <a>Edit</a>
        <ul>
          <li><a id="edit-undo" class="disabled">Undo <span>Ctrl + Z</span></a></li>
          <li><a id="edit-redo" class="disabled">Redo <span>Ctrl + Y</span></a></li>
          <li class="split"></li>
          <li><a class="selection disabled" id="edit-cut">Cut <span>Ctrl + X</span></a></li>
          <li><a class="selection disabled" id="edit-copy">Copy <span>Ctrl + C</span></a></li>
          <li><a class="selection disabled" id="edit-clear">Clear <span>DEL</span></a></li>
          <li><a id="edit-paste">Paste <span>Ctrl + V</span></a></li>
          <li class="split"></li>
          <li><a id="edit-free-transform">Free transform</a></li>
          <li class="more"><a>Transform</a>
            <ul>
              <li><a id="edit-rotate-left"><img src="/img/icon/rotate-left.svg">Rotate left / ccw</a></li>
              <li><a id="edit-rotate-right"><img src="/img/icon/rotate-right.svg">Rotate right / cw</a></li>
              <li><a id="edit-flip-horizontal"><img src="/img/icon/flip-horizontal.svg">Flip horizontal</a></li>
              <li><a id="edit-flip-vertical"><img src="/img/icon/flip-vertical.svg">Flip vertical</a></li>
            </ul>
          </li>
          <li class="split"></li>
          <li><a class="image" id="edit-stroke">Stroke..</a></li>
          <li><a class="image" id="edit-fill">Fill..</a></li>
          <li class="split"></li>
          <li><a id="edit-selection-all">Select all <span>Ctrl + A</span></a></li>
          <li><a id="edit-selection-pixels">Select pixels </a></li>
          <li><a class="selection disabled" id="edit-selection-deselect">Deselect <span>Ctrl + D</span></a></li>
          <li><a class="selection disabled" id="edit-selection-invert">Invert selection </a></li>
          <li class="split"></li>
          <li><a id="edit-preferences">Preferences..</a></li>
        </ul>
      </li>
      <li>
        <a>Image</a>
        <ul>
          <li><a id="image-image-size">Image size..</a></li>
          <li><a id="image-canvas-size">Canvas size..</a></li>
          <li class="more"><a>Image rotation</a>
            <ul>
              <li><a id="image-rotate-left"><img src="/img/icon/rotate-left.svg">Rotate left / ccw</a></li>
              <li><a id="image-rotate-right"><img src="/img/icon/rotate-right.svg">Rotate right / cw</a></li>
              <li><a id="image-flip-horizontal"><img src="/img/icon/flip-horizontal.svg">Flip horizontal</a></li>
              <li><a id="image-flip-vertical"><img src="/img/icon/flip-vertical.svg">Flip vertical</a></li>
            </ul>
          </li>
          <li class="split"></li>
          <!--<li><a class="image" id="image-ai-mask">AI Mask / Cutout</a></li>-->
          <li><a class="selection disabled" id="image-crop">Crop</a></li>
          <li><a id="image-trim">Trim</a></li>
        </ul>
      </li>
      <li>
        <a>Layer</a>
        <ul>
          <li><a id="layer-new">New layer</a></li>
          <li><a id="layer-duplicate">Duplicate layer</a></li>
          <li><a id="layer-open">Open image as layer..</a></li>
          <li><a id="layer-add-element">Add element layer..</a></li>
          <li><a id="layer-delete">Delete layer</a></li>
          <li class="split"></li>
          <li><a id="layer-merge-down">Merge down</a></li>
          <li><a id="layer-merge-visible">Merge visible</a></li>
          <li><a id="layer-merge-flatten">Flatten image</a></li>
        </ul>
      </li>
      <li>
        <a>Adjustment</a>
        <ul>
          <li><a class="image" id="adjust-auto">Auto Adjust</a></li>
          <li class="split"></li>
          <li><a class="image" id="adjust-brightness-contrast">Brightness &amp; Contrast..</a></li>
          <li><a class="image" id="adjust-temperature-tint">Temperature &amp; Tint..</a></li>
          <li><a class="image" id="adjust-hue-saturation">Hue &amp; Saturation..</a></li>
          <li><a class="image" id="adjust-vibrance">Vibrance..</a></li>
          <li><a class="image" id="adjust-balance">Color balance..</a></li>
          <li class="split"></li>
          <li><a class="image" id="adjust-highlight-shadows">Highlight &amp; Shadows..</a></li>
          <li><a class="image" id="adjust-exposure">Exposure..</a></li>
          <li class="split"></li>
          <li><a class="image" id="adjust-curves">Curves..</a></li>
          <li><a class="image" id="adjust-levels">Levels..</a></li>
          <li class="split"></li>
          <li><a class="image" id="adjust-threshold">Threshold..</a></li>
          <li><a class="image" id="adjust-posterize">Posterize..</a></li>
          <li><a class="image" id="adjust-desaturate">Desaturate</a></li>
          <li><a class="image" id="adjust-invert">Invert</a></li>
        </ul>
      </li>
      <li>
        <a>Filter</a>
        <ul>
          <li><a class="image" id="filter-effect">Effect Library..</a></li>
          <li class="split"></li>
          <li><a class="image" id="filter-sharpen">Sharpen..</a></li>
          <li><a class="image" id="filter-clarity">Clarity..</a></li>
          <li><a class="image" id="filter-blur">Blur..</a></li>
          <li><a class="image" id="filter-gaussian-blur">Gaussian Blur..</a></li>
          <li><a class="image" id="filter-smooth">Smooth..</a></li>
          <li><a class="image" id="filter-grain">Grain..</a></li>
          <li class="split"></li>
          <li><a class="image" id="filter-vignette">Vignette..</a></li>
          <li><a class="image" id="filter-bloom">Bloom..</a></li>
          <li><a class="image" id="filter-glamour">Glamour..</a></li>
          <li><a class="image" id="filter-dehaze">Dehaze..</a></li>
          <li class="split"></li>
          <li><a class="image" id="filter-fringe">Fringe..</a></li>
          <li><a class="image" id="filter-pixelate">Pixelate..</a></li>
          <li><a class="image" id="filter-mosaic">Mosaic..</a></li>
        </ul>
      </li>
      <li>
        <a>View</a>
        <ul>
          <li><a id="view-zoom-in">Zoom In <span>Ctrl + +</span></a></li>
          <li><a id="view-zoom-out">Zoom Out <span>Ctrl + -</span></a></li>
          <li class="split"></li>
          <li><a id="view-zoom-fit">Fit Screen <span>Ctrl + 0</span></a></li>
          <li><a id="view-zoom-fill">Fill Screen <span>Ctrl + 2</span></a></li>
          <li class="split"></li>
          <li><a id="view-zoom-1x">Actual Size 1x <span>Ctrl + 1</span></a></li>
          <li><a id="view-zoom-2x">Zoom 2x</a></li>
          <li><a id="view-zoom-3x">Zoom 3x <span>Ctrl + 2</span></a></li>
        </ul>
      </li>
      <li>
        <a>Help</a>
        <ul>
          <!--<li><a id="help-help">Help</a></li>
          <li><a id="help-tutorials">Tutorials</a></li>-->
          <li><a id="help-shortcuts">Keybord Shortcuts..</a></li>
          <li class="split"></li>
          <li id="help-language" class="more"><a>Language</a>
            <ul>
              <li><a id="help-language-en-us">English<span>English</span></a></li>
              <!--<li><a id="help-language-fr-fr">Français<span>French</span></a></li>
              <li><a id="help-language-es-es">Español<span>Spanish</span></a></li>
              <li><a id="help-language-pt-br">Português do Brasil<span>Brazilian</span></a></li>
              <li><a id="help-language-ja-jp">DX<span>Japanese</span></a></li>-->
            </ul>
          </li>
          <li class="split"></li>
          <li><a id="help-instagram" href="https://www.instagram.com/pixlr/" target="new">Our Instagram..</a></li>
          <li><a id="help-facebok" href="https://www.facebook.com/pixlr/" target="new">Our Facebook..</a></li>
          <li class="split"></li>
          <li><a id="help-feedback" href="https://forms.gle/zro9yLLaCrvcfTCv5" target="new">Feedback..<span>Thanks!</span></a></li>
        </ul>
      </li>
    </ul>
  </section>

  <div class="scene__options">
    <div class="scene__options__title">
      <b>Memo:</b> <input type="text" name="memo" id="memo">
    </div>
    <div class="scene__options__size">
      <b>Scene size:</b>
      <a href="javascript:change_edit_pixel(8,8);">8x8</a> |
      <a href="javascript:change_edit_pixel(16,16);">16x16</a> |
      <a href="javascript:change_edit_pixel(32,32);">32x32</a> |
      <a href="javascript:change_edit_pixel(64,64);">64x64</a> |
      <a href="javascript:change_edit_pixel(128,64);">128x64</a> |

      <input type="text" name="pixel_x" id="pixel_x">x

      <select name="pixel_y" id="pixel_y">
        <option value="8">8</option>
        <option value="16">16</option>
        <option value="24">24</option>
        <option value="32">32</option>
        <option value="40">40</option>
        <option value="48">48</option>
        <option value="56">56</option>
        <option value="64">64</option>
      </select>

      <a class="btn btn--white" href="javascript:apply_edit_pixel();">Apply</a>
    </div>
  </div>

  <section>
    <div class="pane__controls">
      <a class="btn text-white" id="download" href="" download="" onclick="data_download()">
        <svg class="gsicon" viewBox="0 0 14 18" width="14" height="18" fill="black">
          <path d="M14,6 L10,6 L10,0 L4,0 L4,6 L0,6 L7,13 L14,6 L14,6 Z M0,14 L0,16 L14,16 L14,14 Z"></path>
        </svg>
        <label for="download">Download</label>
      </a>

      <div class="panel__control upload__control">
        <label for="data__upload">Upload</label>
        <input type="file" class="data__upload" id="data__upload" accept="*/*">
      </div>

      <div class="panel__control mins__control">
        <label for="min_w">min_w:</label>
        <input type="text" name="min_w" id="min_w">
        <label for="min_h">min_h:</label>
        <input type="text" name="min_h" id="min_h">&nbsp;
      </div>

      <section class="panel__control edit__control">
        <b>Edit:</b>
        <a href="#" onmouseover="set_edit_mes('edit_copy'); return false;">Copy</a> |
        <a href="#" onmouseover="set_edit_mes('edit_paste');  return false;">Paste</a>
        <input type="checkbox"
          name="merge_paste"
          id="merge_paste"
          onclick="set_merge_paste()"
          value="">Merge |
        <a href="javascript:edit_cancel();">Cancel(esc)</a> |
        <span id="edit_undo"><a href="javascript:edit_undo();"
          onmouseover="set_edit_mes('edit_undo');">Undo(z)</a> | </span>
        <input type="checkbox" name="edit_alert" id="edit_alert" onclick="set_edit_alert()" value="">None alert
      </section>
      <!--<input type="checkbox" name="view_hx" id="view_hx" onclick="set_view_hx()" value="">View Hex Data<br>-->
    </div>
  </section>
</header>
