@import 'variables.less';
@import 'fonts.less';
@import 'mixins.less';
@import 'atoms.less';
@import 'layout.less';

:root {
  --main-bg-color: #252525;
  --main-cell-color: #1D1E22;
  --main-black: #000;
  --main-marfil: #DDD;
  --main-white: #FFF;
  --main-dark-grey: #333;

  --header-height: 60px;
}

// Reset
// (https://github.com/hankchizljaw/modern-css-reset)
// -----------------------------------------------------------------
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

// -----------------------------------------------------------------------


body, input, select {
  //font-family: helvetica, arial, sans-serif;
  //font-size: 9pt;
  //padding: 0;
  //cursor: default;
}

.canvas__area {
  position: relative;

  .editor__canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
}


.data__area {
  width: 100%;
  background-color: #3e3d3d;
  border: 1px solid var(--main-black);
  padding: 10px;
  color: var(--main-marfil);
  font-size: 15px;
  min-height: 75px;
}

.mono {
  font-family: monospace;
  font-size: 10pt;
}

#memo {
  width: 380px;
}

#min_w, #min_h {
  padding: 0 0 0 8px;
  width: 30px;
}

#editor__view {
  position: relative;
  left: 10px;
  top: 5px;
  width: calc(100% - 60px);
}

#edit__message {
  background-color: #3E3D3D;
  padding: 3px 10px;
  color: #fff;
  display: block;
  position: absolute;
  right: 20px;
  border: 1px solid #666;
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 1px;
}

.editor__bar {
  display: flex;
  flex-flow: column;
  z-index: 90;
  width: 44px;
  background-color: #292c31;
}

.edit__tools {
  display: flex;
  margin: 2px auto;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 3px;

  li {
    display: block;
    cursor: pointer;
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    transition: all .2s linear;
    margin-top: 3px;

    .active {
      background-color: rgba(255, 255, 255, 0.2);
    }

    &:hover:not(.active) {
      background-color: rgba(255, 255, 255, 0.1);
    }

    img {
      width: 22px;
      height: 22px;
      margin: 5px;
      opacity: .6;
      transition: all .2s linear;
    }
  }
}

#pixel_x {
  width: 55px;
}


// ----------------------------------------------------
.wrapper { // Only for demo purposes...
  &:extend(.bg__white); // Extended

  text-align: center;
  font-family: @main_font_set;

  h1 {
    font-weight: 900;
  }

  h2 {
    font-weight: 400;
  }

  h3 {
    font-weight: 100;
  }
}
